ul li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
}

.nav__item {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
&:hover {
    background: $sea;
}
}

.nav {
    padding: 0;
    margin: 10px;
    font-family: 'Arvo', serif;
}

h1 {
    font-family: 'Arvo', serif;
    max-width: 90%;
    color: $sea;
}

h4 {
    font-family: 'Arvo', serif;
}

.headline--secondary {
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
    font-family: 'Arvo', serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: .95em;
    line-height: 20px;
    margin: 2em;
    text-align: left;

    a.link {
        color: $default;
    }
}

.blockquote {
    font-style: oblique;
    font-size: 1.7em;
    border-left: 10px $sea solid;
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    background-color: $default;
    color: white;
    border-style: none;
}

#forms { 
    margin-bottom:20px
}

body {
    max-width: 90%;
    margin: auto;
}

input {
    border-style: none;
    border-bottom: 5px $sea solid;
    width: 75%;
    margin-bottom: 30px;
    padding: 10px;
}

label {
    display: none;
}

.img {
    display: flex;
    margin: auto;
  }


