// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    display: block;
    text-align: center;
    


    // NOTE: replace with media query mixin if aiming for exceeds
    @include break {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i}.theme__colors {

        // base styles applied to all grid columns 
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        @extend %margin;
        border-radius: 5px;
        border-style: none;
        flex-basis: 100%;
        background-color: map-get($grid-colors, $i);
        

        // NOTE: replace with media query mixin if aiming for exceeds
        @media (min-width: $break) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: 768px) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

.grid__col--8 {
  @include break {
    max-width: 68%;
  }
}

.grid__col--12 {
  @include break {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
}

  .grid__col--7.theme__colors {
  @include break {
    margin: auto;
  }
}


