
ul {
    list-style-type: none;
}

a  {
    color: #555;
    &:hover{
        color: white;
    }
    @extend %text-dec;
    &.link {
        color: $default;
    }
}



.headline--primary {
    margin-right: 35px;
    color: $sea;
}

.headline--secondary {
    text-align: left;
    margin: 2em;
}

p {
    font-size: .95em;
    line-height: 20px;
    margin: 2em;
    text-align: left;
}

.blockquote {
    font-style: oblique;
    font-size: 1.7em;
    border-left: 10px $sea solid;
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
}

.container {
    max-width: 90%;
    margin: auto;
}






